@import "../../variables.scss";

main {
  margin: 10px;

  h1 {
    color: black;
    width: fit-content;
    border-radius: 6px;
    font-size: 40px;
  }

  p {
    font-size: 15px;
    margin-top: 10px;
  }
}
